[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "spagmix"]
	path = spagmix
	url = https://github.com/cran/spagmix
[submodule "sparr"]
	path = sparr
	url = https://github.com/tilmandavies/sparr
